.container-fluid{:class => (signed_in? ? "signed-in" : nil)}
  .row
    .sidebar
      .navbar.navbar-default
        %a{href: root_url}
          = image_tag "logos/adopt-a-drain.png",
          :alt => t("titles.main", :thing => t("defaults.thing").titleize, :context => t("context.place")),
          :title => t("titles.main",
          :thing => t("defaults.thing").titleize,
          :context => t("context.place_abbr"))
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .sidebar-content
        -# Corresponds to guideline div below
        %div.hidden-xs
          %h3.text-center
            = t("titles.adopted_tagline",
                 :count => Thing.adopted.count,
                 :things => t("defaults.things").titleize,
                 :context => t("context.place_abbr"))
            .small
              Last updated
              = local_date(Time.now, '%B %e, %Y')
          %a.guidelines{:href => "#guidelines", :"data-toggle" => "modal", :"data-target" => "#guidelines"}
            %button.btn.btn-block.btn-primary#tagline
              = t("defaults.tagline")
        #content
          = render :partial => "layouts/flash", :locals => {:flash => flash}
          - if signed_in?
            = render :partial => "sidebar/search"
          - elsif @reset_password_token.present?
            = render :partial => 'passwords/edit'
          - else
            = render :partial => "sidebar/search"
        -# Corresponds to guideline div above
        %div.hidden.visible-xs-block
          %a.guidelines{:href => "#guidelines", :"data-toggle" => "modal", :"data-target" => "#guidelines"}
            %button.btn.btn-block.btn-primary#tagline
              = t("defaults.tagline")
        #logos
          .row
            .col-xs-4
              %a{:href => "https://www.lgrow.org"}
                = image_tag "logos/LGrow.png", :alt => t("sponsors.lgrow"), :title => t("sponsors.lgrow"), :class => "puc"
            .col-xs-4
              %a{:href => "https://citizenlabs.org"}
                = image_tag "logos/citizenlabs.png", :alt => t("sponsors.cl"), :title => t("sponsors.cl"), :class => "puc"
        #feedback
          %p.tos
            %h1 Feedback
          %p.tos
            %h2 Today's Task
            %ul
              %li Task: <b>Please, provide feedback on Feedback</b>  @ <a href="https://goo.gl/forms/j3QC5J27MY83Lnly2" onClick="alert('hi')" target="_blank">Feedback</a>
          %p.tos
            %h2 Keep in Mind
            %ul
              %li Feedback is only visible to a limited number of testers like you
              %li Tasks need to be obvious. If you cannot figure out how to give feedback then this is a problem.

    .col-md-9.map-container
      #map
        &nbsp;
      #legend
        .title
          Legend
        .show-hide
          %a#toggleLegend{:href=>"#"}
            Hide
  = render :partial => "sidebar/tos"
  = render :partial => "sidebar/guidelines"
:javascript
  $(function() {
    $('.navbar-toggle').on('click', function(){
      $('div.sidebar').toggleClass('sidebar-full');
    });
  });
