= form_for :user, :html => {:id => "combo-form", :class => "form-vertical"} do |f|
  %fieldset#common_fields
    .form-group
      %label.control-label{:for => "user_email", :id => "user_email_label"}
        = t("labels.email")
        %small
          = t("captions.private")
      = f.email_field "email", :value => params[:user] ? params[:user][:email] : nil, :class => "form-control"
      %fieldset#user_forgot_password_fields{:style => "display: none;"}
    %p
      = link_to t("links.remembered_password"), "#", :id => "user_remembered_password_link"
    .form-actions
      = f.submit t("buttons.email_password"), :class => "btn btn-primary btn-block"
%a{:href => search_path, :class => "link btn btn-default"}
  = t("buttons.back")
