= form_for :user, :html => {:id => "combo-form", :class => "form-vertical"} do |f|
  %fieldset#common_fields
    .form-group
      %label.control-label{:for => "user_email", :id => "user_email_label"}
        = t("labels.email")
        %small
          = t("captions.private")
      = f.email_field "email", :value => params[:user] ? params[:user][:email] : nil, :class => "form-control"
  %fieldset#user_sign_in_fields{:style => "display: block;"}
    .form-group
      %label.control-label{:for => "user_password", :id => "user_password_label"}
        = t("labels.password")
        %small
          = image_tag "lock.png", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
      = f.password_field "password", :class => "form-control"
      .help-block
    .form-group
      = f.label "remember_me" , f.check_box("remember_me", :checked => true).html_safe + t("labels.remember_me")
    %p
      = link_to t("links.forgot_password"), "#", :id => "user_forgot_password_link"
    .form-actions
      = f.submit t("buttons.sign_in"), :class => "btn btn-primary btn-block"
%a{:href => search_path, :class => "link btn btn-default"}
  = t("buttons.back")