<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><tr><td>

  <%= render :partial => 'logo_header' %>

  <p>
    Dear <%= @user.name.split.first %>,
  </p>

  <p>
    Thank you for adopting one of the Lower Grand River Watershed’s 40,000+ storm drains and
    keeping it free of leaves, snow, and debris! You are joining your neighbors in helping
    to protect the environment, manage stormwater, and minimize flooding.
  </p>

  <h2 style="font-size: 1.05em; margin-top: 30px;">How to Care For Your Adopted Drain</h2>

  <ul>
    <li style="margin-bottom: 10px;">
      Check the weather report weekly. If possible, clear leaves and debris off
      the drain before it starts raining and shovel snow off the drain in winter.
    </li>
    <li style="margin-bottom: 10px;">
      Remove leaves, other natural materials, and trash. Compost if possible or
      dispose of them according to your community’s guidelines.
    </li>
    <li style="margin-bottom: 10px;">
      Clear about 10 feet on both sides of the drain.
    </li>
    <li style="margin-bottom: 10px;">
      Did you find medical waste or needles? Construction debris? Toxic materials?
      Follow your community’s instructions for disposal guideline.
      For more information, click <a href="https://www.lgrow.org/disposal">HERE</a>
    </li>
  </ul>

  <h2 style="font-size: 1.05em; margin-top: 30px;">Drain Cleaning Safety Tips</h2>

  <ul>
    <li style="margin-bottom: 10px;">
      Please stay out of the street as much as possible. 
      Place yourself in the right of way (the area between the 
      sidewalk and the street) to clear the drain.
    </li>
    <li style="margin-bottom: 10px;">
      Always wear gloves and be careful of sharp objects!
    </li>
    <li style="margin-bottom: 10px;">
      Use a rake, broom, or shovel if possible.
    </li>
    <li style="margin-bottom: 10px;">
      Never try to lift/remove the drain grate.
    </li>
    <li style="margin-bottom: 10px;">
      Wear reflective clothing so vehicles can see you.
    </li>
    <li style="margin-bottom: 10px;">
      Dispose of waste appropriately. Visit <a href="https://www.lgrow.org/disposal">www.LGROW.org</a> to find out
      how to properly dispose of yard and household hazardous wastes in your community.
    </li>
  </ul>

  <p style="margin-top: 30px">
    Thanks again, <%= @user.name.split.first %>, for adopting a drain in the Lower Grand River Watershed. When each of us helps out a little, it makes a big difference!
  </p>

  <%= render :partial => 'signature' %>  

  <p>
  <%= image_tag attachments['major-runoff-cleaning.png'].url,
      :alt => "adopt-a-drain major-runoff-cleaning",
      :title => "adopt-a-drain major-runoff-cleaning"
  %>
  </p>

  <%= render :partial => 'email_footer' %>

  <%= render :partial => 'social_media' %>

</td></tr></table>
