<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><tr><td>

  <%= render :partial => 'logo_header' %>

  <p>
    Dear <%= @user.name.split.first %>,
  </p>

  <p>
    Wow! Thank you for adopting another drain.
  </p>
  
  <p>
    Use social media to spread the word! Be sure to tag us @LGROW_org on Instagram and @LGROW.org on Facebook and use the hashtags #LGROW, #AdoptaDrainGrandRiver and #KeepYourLakesGreatAndRiverGrand.
  </p>

  <p>
    If you encounter medical waste, construction debris, or if the drain is clogged beneath the grate, report it to the municipality responsible for your drain. Information on how to contact each municipality is available <a href="https://www.lgrow.org/disposal">HERE</a>.
  </p>

  <p>
    As always, please let us know if you have any feedback or questions about
    this program. We would love to hear from you.
  </p>

  <%= render :partial => 'signature' %>

  <%= render :partial => 'email_footer_disclaimer' %>
  <p>
  For residents of Kent County who are eligible for GR City Points, use the code <b>96LB-GSQF</b> to redeem points in your GR City Points account at <a href="http://www.mygrcitypoints.com">http://www.mygrcitypoints.com/</a>
  </p>

  <p>
  <%= image_tag attachments['major-runoff-thumbs-up.png'].url,
      :alt => "adopt-a-drain major-runoff-thumbs-up",
      :title => "adopt-a-drain major-runoff-thumbs-up"
  %>
  </p>

  <%= render :partial => 'email_footer_below' %>

  <%= render :partial => 'social_media' %>

</td></tr></table>
